html {
    overflow-x: hidden;
}
#point-pointer {
    position: fixed;
    z-index: 1051;
    left: auto;
    right: 50%;
    top: 50%;
    transition: top 300ms, right 300ms;
    pointer-events: none;
}
#point-pointer img {
    width: 100%;
}
#point-pointer svg {
    position: absolute;
    stroke: #eb7800;
    stroke-width: 1px;
}
#emoji-container {
    position: relative;
}
#emoji-smile {
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url('/images/emoji-happy-round.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: 1px;
    top: 15px;
    display: block;
}
